extends layout

block content
  h1 Game site
  p.lead Node.js web applications.
  hr
  .row
    .col-sm-6
      h2 Heading
      p JADE/PUG là một template engine cực kỳ mạnh được phát triển với ý tưởng dựa trên Haml. Thực thi cùng với JavaScript và NodeJS. Thay đổi hoàn toàn cách viết HTML với những cú pháp hoàn toàn mới và tức nhiên sẽ giải quyết những vấn đề mà HTML không để làm được.
      p
        a.btn.btn-default(href='http://webfaver.com/client-side/html5/voi-jade-pug-cong-viec-cat-html-tro-nen-nhanh-hon-phan-1.html', role='button') View details »
    .col-sm-6
      h2 Heading
      p JADE/PUG là một template engine cực kỳ mạnh được phát triển với ý tưởng dựa trên Haml. Thực thi cùng với JavaScript và NodeJS. Thay đổi hoàn toàn cách viết HTML với những cú pháp hoàn toàn mới và tức nhiên sẽ giải quyết những vấn đề mà HTML không để làm được.
      p
        a.btn.btn-default(href='http://webfaver.com/client-side/html5/voi-jade-pug-cong-viec-cat-html-tro-nen-nhanh-hon-phan-1.html', role='button') View details »
    .col-sm-6
      h2 Heading
      p JADE/PUG là một template engine cực kỳ mạnh được phát triển với ý tưởng dựa trên Haml. Thực thi cùng với JavaScript và NodeJS. Thay đổi hoàn toàn cách viết HTML với những cú pháp hoàn toàn mới và tức nhiên sẽ giải quyết những vấn đề mà HTML không để làm được.
      p
        a.btn.btn-default(href='http://webfaver.com/client-side/html5/voi-jade-pug-cong-viec-cat-html-tro-nen-nhanh-hon-phan-1.html', role='button') View details »
    .col-sm-6
      h2 Heading
      p JADE/PUG là một template engine cực kỳ mạnh được phát triển với ý tưởng dựa trên Haml. Thực thi cùng với JavaScript và NodeJS. Thay đổi hoàn toàn cách viết HTML với những cú pháp hoàn toàn mới và tức nhiên sẽ giải quyết những vấn đề mà HTML không để làm được.
      p
        a.btn.btn-default(href='http://webfaver.com/client-side/html5/voi-jade-pug-cong-viec-cat-html-tro-nen-nhanh-hon-phan-1.html', role='button') View details »